@model IEnumerable<Task_6_Layout.Home>

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>




<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Customer</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row">
            @foreach (var item in Model) {
        <div class="col-lg-4 col-sm-6 mb-4">
            <!-- Portfolio item 1-->
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="~/assets/img/portfolio/1.jpg" alt="..." />
                </a>
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">@item.Fname</div>
                    <div class="portfolio-caption-subheading text-muted">@item.Lname</div>
                </div>
            </div>
        </div>
            }
        </div>
</div>
</section>