<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <table class="table table-striped">
        <thead></thead>
        <tbody id="tb"></tbody>
    </table>


    <script>async function read() {
          try {
              const api = "https://localhost:44368/api/Faculties";
              const res = await fetch(api);
              const data = await res.json();

              console.log(data);
              readdata(data);
          } catch (error) {
              console.log(error);
          }
}
        
      function readdata(data) {
          for (let i = 0; i < data.length; i++) {
            

              document.getElementById('tb').innerHTML += " <tr><td>" + data[i].ID_Fac + " </td><td> " + data[i].Name + " </td><td> " + data[i].Image +   " </td><td><a href=/Majors/Details/" + data[i].ID_Fac + "> Detail</a></td ></tr>"


          }
      }
      read();</script>

</body>

</html>